@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <div>
        <strong>52ABP .NET CORE 实战群:</strong><a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5Qprggi">
            <img src="http://pub.idqqimg.com/wpa/images/group.png" alt="52ABP .NET CORE 实战群" title="52ABP .NET CORE 实战群">
        </a> 
    </div>
     
    <div>
        <strong>ABP代码生成器交流群（收费）:</strong><a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5MxVaIt">
            <img src="http://pub.idqqimg.com/wpa/images/group.png" alt="ABP代码生成器交流群" title="ABP代码生成器交流群">
        </a>
    </div>
</address>
<address>
    <div class="" data-width="600" data-height="500">
        <img data-original-src="//upload-images.jianshu.io/upload_images/1979022-18becf16fe0084d8.png" data-original-width="600" data-original-height="500" data-original-format="image/png" data-original-filesize="150032" class="" style="cursor: zoom-in;" src="//upload-images.jianshu.io/upload_images/1979022-18becf16fe0084d8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/600">
    </div>
</address>
